@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Create</h1>
        <form asp-action="create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Order">Order</label>
                <input type="text" class="form-control" asp-for="Order">
                <span class="text-danger" asp-validation-for="Order"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url">Url</label>
                <input type="text" class="form-control" asp-for="Url">
                <span class="text-danger" asp-validation-for="Url"></span>
            </div>
            <div class="form-group">
                <label asp-for="Header">Header</label>
                <input type="text" class="form-control" asp-for="Header">
                <span class="text-danger" asp-validation-for="Header"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc">Description</label>
                <textarea asp-for="Desc" class="form-control" rows="2"></textarea>
                <span class="text-danger" asp-validation-for="Desc"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button">ButtonText</label>
                <input type="text" class="form-control" asp-for="Button">
                <span class="text-danger" asp-validation-for="Button"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">Image</label>
                <input class="form-control" asp-for="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts{
    @Html.Partial("_ValidationsScriptsPartial")
}